@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    box-sizing: border-box;
    color: rgb(92, 91, 91);
}

li, a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.nav-bar{
    margin: 0 auto;
    background-color:rgba(106,124,140,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    height: 3em;
}

.nav-logo{
    width: 180px;
    cursor: pointer;
}

.logo-mrcoffee{
    width: 200px;
    display: block;
    margin: 0 auto;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li a{
    margin-left: 2em;
}

a.active, a:hover {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0.5s;
}

.check-btn{
    color: white;
    font-size: 2em;
    display: none;
    cursor: pointer;
}

#check{
    display: none;
}



/* main content style */

.img-container{
    position: relative;
    text-align: center;
    color: white;
}

.img-container img{
    max-width: 85%;
    display: block;
    margin: 0 auto;
    height: auto;
}

.img-text{
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    text-shadow: 2px 2px 8px rgba(51,51,51,255);
}

.speciality-heading{
    text-align: center;
    font-size: 4vw;
}

.cards-container{
    width: 85%;
    margin: 0 auto;
}

.card{
    background-color: rgba(188,194,201,255);
    text-align: center;
    padding:1em;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px gray;
    font-size: 1.125em;
    margin-bottom: 2em;
    letter-spacing: 1px;
    line-height: 1.225em;
}

.card-heading{
    text-shadow: 1px 1px 7px rgba(51,51,51,255);
}

.card-icon{
    max-width: 100px;
    height: auto;
}

.section_2 > *, .section_3 > *{
    margin: 2em;
}

.find-more{
    display: block;
    padding: 1em 2em;
    background-color: rgba(106,124,140,255);
    color: white;
    border: none;
    margin: 3em auto;
    border-radius: .5em;
    font-size: 1.625em;
    cursor: pointer;
}

.discover-heading{
    text-align: center;
    font-weight: 900;
    font-size: 1.625em;
    letter-spacing: 1px;
}

.open-cafe{
    width: 80px;
    height: auto;
    margin-right: 1em;
}

.section_3{
    text-align: center;
}

.program{
    font-size: 1.125em;
    font-weight: 100;
    margin-bottom: 3em;
}

.section_3 p:nth-child(5), .section_3 p:nth-child(4){
      font-weight: 400;
  }

footer{
    background-color:rgba(106,124,140,255);
    color: white;
    padding:1em 2em;
    box-sizing: border-box;
    text-align: center;
}

.footer-logo{
    width: 50px;
}

.social-logo{
    width: 20px;
}

@media (max-width: 768px) {
    .nav-logo{
        width: 140px;
    }
    .check-btn{
        display: block;
    }

    .nav-links{
        position: fixed;
        left: 0;
        width: 50%;
        height: 100vh;
        background-color: rgba(51,51,51,255);
        flex-direction: column;
        text-align: center;
        top: 4em;
        display: none;
    }

    .cards-container{
       
    }
} 